/* YouTube : https://www.youtube.com/channel/UCPNW8Pu3MiOx2hJyLt2d8_A  */
/* GitHub : https://github.com/code-rax  */
/* Telegram : https://t.me/code_rax */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}
.container {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(-45deg, #05995c, #950a3f, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  justify-content: center;
  animation: gradient 8s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 5%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.container .card {
  width: 300px;
  height: 500px;
  border-radius: 1em;
  background-color: #fff;
  margin: 1em;
}
.container .card .title {
  background-color: #009578;
  height: 150px;
  color: rgba(255, 255, 255, 0.882);
  font-size: 20px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px 15px 0 0;
}
.container .card .conditions {
  padding: 20px;
  height: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.81);
}
.container .card .conditions p {
  display: flex;
  align-items: center;
  margin: 10px;
}
.container .card .conditions p::before {
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  border: 1.5px solid #157359;
  border-top: 0;
  border-right: 0;
  transform: rotate(-45deg);
  margin-right: 1em;
}
.container .card .specification::before {
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(159, 159, 159, 0.581);
}
.container .card .specification {
  height: calc(100% - 300px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}
.container .card .specification .price,
.container .card .specification .submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .card .specification .price h2 {
  font-size: 2.5em;
  font-weight: lighter;
  margin-bottom: 10px;
}
.container .card .specification p {
  color: rgba(0, 0, 0, 0.566);
  font-size: 1em;
}
.container .card .specification .submit button {
  width: 130px;
  height: 35px;
  background-color: transparent;
  border: 1px solid #02846a;
  color: #02846a;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.container .card .specification .submit button:hover {
  background-color: #02846a;
  color: #fff;
}
/* card2 */
.container > div:nth-child(2) .title {
  background-color: #d61c4e;
}
.container > div:nth-child(2) .conditions p::before,
.container > div:nth-child(2) .specification .submit button {
  border-color: #d61c4e;
  color: #d61c4e;
}
.container > div:nth-child(2) .specification .submit button:hover {
  background-color: #d61c4e;
}
/* card3 */
.container > div:nth-child(3) .title {
  background-color: #1c3879;
}
.container > div:nth-child(3) .conditions p::before,
.container > div:nth-child(3) .specification .submit button {
  border-color: #1c3879;
  color: #1c3879;
}
.container > div:nth-child(3) .specification .submit button:hover {
  background-color: #1c3879;
}
